/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require vendor/square/blue.css.scss
 */


.bg-todo {
    background-color: #55bad7!important;
    height: 55px;
}

body {
  background-color: #ededed;
  color: #333;
  margin-top: 33px;
  margin-left: 5px;
  font-family: OpenSans-Light, arial;
  font-size: 16px;
  line-height: 30px;
}

p, ol, ul, td {
  font-family: OpenSans-Regular, arial;
  font-size: 16px;
  line-height: 20px;
}

#AlertDiv {
    top: 10px;
    width:62px;
    height:51px;
    color:white;
    position:absolute;
    text-align:center;
    left: 50%;
    margin-left: -50px; 
}

#AlertDiv h3 {
    margin:auto;
    line-height:30px;
    vertical-align:middle;
}

.block_card {
    margin: 15px;
    -webkit-box-shadow: 2px 0px 21px -4px rgba(140,137,140,1);
    -moz-box-shadow: 2px 0px 21px -4px rgba(140,137,140,1);
    box-shadow: 2px 0px 21px -4px rgba(140,137,140,1)
}

#Card {
  -webkit-box-shadow: 10px 9px 289px 37px rgba(0,0,0,0.36);
  -moz-box-shadow: 10px 9px 289px 37px rgba(0,0,0,0.36);
  box-shadow: 10px 9px 289px 37px rgba(0,0,0,0.36);
  position: fixed;
  width: 24%;
  min-width: 300px;
  min-height: 250px;
  height: 30%;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -125px; 
  background-color: #ffffff; 
}

#container {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    visibility: hidden;
    display: none;
    background-color: rgba(22,22,22,0.5); /* complimenting your modal colors */
}

.reveal-modal {
    position: relative;
    margin: 0 auto;
    top: 25%;
}

#plus {
    width: 35px;
    height: 35px;
    right: 20px;
    top: 10px;
    position: absolute;
}

