@font-face {
  font-family: 'OpenSans-Light';
  src: url("/assets/opensanslight-cf5f5184c1441a1660aa52526328e9d5c2793e77b6d8d3a3ad654bdb07ab8424.ttf?v=4.4.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans-Regular';
  src: url("/assets/OpenSans-Regular-e64e508b2aa2880f907e470c4550980ec4c0694d103a43f36150ac3f93189bee.ttf?v=4.4.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("/assets/OpenSans-Semibold-aa3b0ef53db12e3d45094030cac0e69d384e44cc5978643dd4390041cad546e2.ttf?v=4.4.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}
